<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<base href="/static/ecshop/" />
<title>SHOP 管理中心 - 商品分类 </title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="styles/general.css" rel="stylesheet" type="text/css" />
<link href="styles/main.css" rel="stylesheet" type="text/css" />
</head>
<body>

<h1>
<span class="action-span"><a href="{:url('cat_add')}">添加分类</a></span>
<span class="action-span1"><a href="index.php?act=main">SHOP 管理中心</a> </span><span id="search_id" class="action-span1"> - 商品分类 </span>
<div style="clear:both"></div>
</h1>

<form method="post" action="" name="listForm">
<!-- start ad position list -->
	<div class="list-div" id="listDiv">
		<table width="100%" cellspacing="1" cellpadding="2" id="list-table">
				<tr>
					<th>分类名称</th>
					<th>商品数量</th>
				<!-- 	<th>数量单位</th>
					<th>导航栏</th>
					<th>是否显示</th>
					<th>价格分级</th> -->
					<th>排序</th>
					<th>操作</th>
				</tr>
    <tbody id="list">
    {volist name="cat" id="v"}
				<tr align="center" class="0" id="0_1">

					<td align="left" class="first-cell">
						
						<span>{:str_repeat('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/menu_minus.gif" id="icon_0_1" width="9" height="9" border="0" style="margin-left:0em" >',$v.level-1).$v.cat_name}</span>
					</td>

					<td width="10%">{$v.count}</td>
				<!-- 	<td width="10%"><span title="点击修改内容" style=""></span></td>
					<td width="10%"><img src="images/no.gif" ></td>
					<td width="10%"><img src="images/yes.gif" ></td>
					<td><span title="点击修改内容" style="">5</span></td> -->
					<td width="10%" align="center"><span style="">{$v.sort_order}</span></td>

					<td width="24%" align="center">
						<a href="category.php?act=move&amp;cat_id=1">转移商品</a>|
						<a href="{:url('update')}?cid={$v.cid}">编辑</a> |
						<a href="{:url('del')}?cid={$v.cid}">删除</a>
					</td>
				</tr>
    {/volist}
	</tbody>
        <tr>
            <td nowrap="true" colspan="7">
                <div id="page"></div>
            </td>
        </tr>
  </table>
</div>
</div>


<div id="footer">
	版权所有 &copy; 2006-2013 软工教育 - 高级PHP - </div>
</div>

</body>
</html>