
  <!-- 表单 -->
<marquee><h1><font style color='blue'>三尺长剑，斩不尽相思情缠。</font></h1></marquee>
<div class="body-content">
    <div class="panel admin-panel">
  <div class="panel-head"><strong><span class="icon-pencil-square-o"></span> 用户添加</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="{:url('admin/admin/add_do')}">
      <div class="form-group">
        <div class="label">
          <label>用户名：</label>
        </div>
        <div class="field">
          <input type="text" class="input" name="username" value="" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>密码：</label>
        </div>
        <div class="field">
         <input type="password" class="input" name="userpwd" value="" />
        </div>
      </div>
         
     
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
        </div>
      </div>
    </form>
  </div>
</div>
  <!-- 表单 -->
