<marquee><h1><font style color='blue'>为战而生，至死方休！！！</font></h1></marquee>
<div class="body-content">
    <div class="panel admin-panel">
  <div class="panel-head"><strong><span class="icon-pencil-square-o"></span>导航添加</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="{:url('admin/User/add_do')}">
      <div class="form-group">
        <div class="label">
          <label>导航：</label>
        </div>
        <div class="field">
          <input type="text" class="input" name="shen" value="" />
          <div class="tips"></div>
        </div>
      </div>
     <!-- ======================================================= -->
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
        </div>
      </div>
    </form>
  </div>
</div>

